@model EventPlannerModels.Seller

@{
    ViewData["Title"] = "Create";
}

<h1>Quiero ser vendedor</h1>

<h4>Ingresa los datos para tu solicitud</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CompanyName" class="control-label"></label>
                <input asp-for="CompanyName" class="form-control" />
                <span asp-validation-for="CompanyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdentificationTypeId" class="control-label"></label>
                <select asp-for="IdentificationTypeId" class ="form-control" asp-items="ViewBag.IdentificationTypeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdentificationNumber" class="control-label"></label>
                <input asp-for="IdentificationNumber" class="form-control" />
                <span asp-validation-for="IdentificationNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExperienceYears" class="control-label"></label>
                <input asp-for="ExperienceYears" class="form-control" />
                <span asp-validation-for="ExperienceYears" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Freelance" /> @Html.DisplayNameFor(model => model.Freelance)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
            
        </form>
    </div>
</div>


