@{
    ViewData["Title"] = "Políticas de Privacidad";
}
<h1>@ViewData["Title"]</h1>

<p>Intentaste acceder a una sección de la página en la que no tienes autorización.
   Actualmente el rol de tu usuario es "@ViewBag.Role".
</p>
<p>
    Si deseas ser "Vendedor", puedes dirigirte a la sección de "Quiero ser vendedor", en el ícono de arriba a la derecha de esta página.
</p>
<p>
    Si deseas ser "Administrador", puedes escribir al correo admin@eventplanning.com.
</p>
